/* CSS Reset */
h1 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
  padding: unset;
}
 
ul {
  list-style-type: none;
  margin: unset;
  padding: unset;
}
 
 /* 한글 폰트 설정 */
* {
  font-family: "Noto Sans KR", sans-serif;
}

/* Layout */
.l_wrapper {
  width: 960px;
  margin: 0 auto;
}

.l_row {
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
}

.l_col {
  width: calc( 100% / 3 );
  padding: 0 12px;
  box-sizing: border-box;
}

.l_col_12_12 { width: 100%; }
.l_col_11_12 { width: 91.66666667%; }
.l_col_10_12 { width: 83.33333333%; }
.l_col_9_12  { width: 75%; }
.l_col_8_12  { width: 66.66666667%; }
.l_col_7_12  { width: 58.33333333%; }
.l_col_6_12  { width: 50%; }
.l_col_5_12  { width: 41.66666667%; }
.l_col_4_12  { width: 33.33333333%; }
.l_col_3_12  { width: 25%; }
.l_col_2_12  { width: 16.66666667%; }
.l_col_1_12  { width: 8.33333333%; }

/* Web Design */

header {
  background-color: #f4f4f4;
}

.header-inside {
  padding-top: 66px;
  padding-bottom: 66px;
  background-image: url(./images/icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 124px 100px;
}

.header-inside .MFF-title {
  color: #FF6600;
  font-weight: bold;
  font-size: 24px;
}

.content-inside .MFF-food {
 box-shadow: inset 0 0 20px green;
 display: inline-block;
}

.content-inside .MFF-food .food-img{
  width: 300px;
  height: 200px;
}

.content-inside .MFF-food .food-title {
  margin-top: -30px;                            
  color: #ff6600;
  font-weight: bold;
  font-size: 24px;
  background-color: rgb(0,0,0,0.8);
}


main {
  background-color: #d9d9d9;
}

footer{
  box-shadow: inset 0 0 20px blue;
}

